<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="Layout.css">
</head>
<body>
    <head> <nav>
        <div class="navbar">
            <ul>
                <li>Home&nbsp;&nbsp;&nbsp;</li>
                <li>&nbsp;Services&nbsp;&nbsp;&nbsp;</li>
                <li>&nbsp;About Us&nbsp;&nbsp;&nbsp;</li>
                <li>&nbsp;Contact Us</li>
            </ul>
        </div>
        </nav></head>
        <main>
        <div class="container">
            <div class="box1"></div>
            <div class="box2"></div>
        </div>

        <div class="container2">
            <p>Welcome to the Kolhapuri
                Kolhapur Express
            </p>
        </div>
        <div class="orange-box"></div>
        </main>
        <footer>
            All Rights Reserved | &copy; Rights
        </footer>
</body>
</html>