nav ul li{
    /* list-style: devanagari; */
    background-color: yellow;
    /* bg does'nt include marker  */
    list-style-position: inside;
    border: 2px solid black;
    /* list-style-image: ;  */
    list-style-type: "🔥";
}