.box{
    width: 10vw;
    height: 20vh ;
    border: 2px solid black;
    /* overflow: scroll; */
    overflow: auto;
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
    /* overflow: hidden; */

}