*{
    margin: 0;
    padding: 0;
}
.box{
    height:100px;
    margin: 3px;
    padding: 3px;
    width: 80px;
    border: 2px solid black;
}

.parent{
    border: 2px solid red;
    padding: 3px;
    margin: 30px;
}

    .box1{
        background-color: #ef5656;
        /* position: absolute; */
}
.box2{
    background-color: aliceblue;
    position: fixed;
    /* top: 20px;
    left: 20px; 
    z-index: 3; */
}
.box3{background-color: rgb(187, 145, 82);
    position: relative;
    /* z-index: 5; */
}
.box4{background-color: bisque;}